$background-color: #000433;
$main-color: #000458;
$secondary-color: #000346;
$enphasis-color: #6b78b8;
$text-color: #ffffff;
$table-color: #ffffff00;


$main-color: #00047a; 
$secondary-color: #000446;

